
h1 {
  text-align: center;
  background: linear-gradient(to right, #ff00ff, #ffff00);
/* Farbübergänge */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background: linear-gradient(#141e30, #243b55);
  color: #d0e3e3;
  font-family: sans-serif;
  font-size: 1rem;
  letter-spacing: 3.5px;
  margin-top: 40px;
  padding: 30px;
  position: relative;
  transition: .5s;
  display: block;
}

/* der Balken */
input[type="range"] {
  width: 80%;
  margin: 5px;
  margin-top: 30px;
  
}

/* Button Senden     */

button {
background: local;
border: hidden;
color: #03e9f4;
font-size: 20px; /*Eigenschaft legt die Schriftgröße des Textes*/
margin-top: 30px; /* legt den Abstand des Elements zum oberen Rand fest */
letter-spacing: 3px;
overflow: hidden;
transition: .5s;
display: block; /* bedeutet, dass das Element eine eigene Zeile einnimmt und die gesamte verfügbare Breite ausfüllt.*/
width: 160px; /* Breite des Buttons definieren */
margin: 0 auto; /* Horizontale Ausrichtung auf dem Bildschirm */
text-align: center; /* Text innerhalb des Buttons zentrieren */
}

/* Button Senden Übergang         */
button:hover {
  background: #03e9f4;
  color: #fff;
  box-shadow: 0 0 5px #03e9f4,
      0 0 25px #03e9f4,
      0 0 50px #03e9f4,
      0 0 100px #03e9f4;
}

/* Styling für die Ergebnisseite */

result-page {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}

result-page h2 {
  margin: 50px 0;
}

/* Zahlen unterm Slider*/
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.value {
  margin-top: 5px;
}

.centered {
  padding-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

#umfrageergebnisse {
  border: 2px solid #FFD700;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px #FFD700;
  display: inline-block;
  }